<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      type="image/png"
      href="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/2147739215/settings_images/HPhQzrT0mAi0kridvIng_Captura_de_Pantalla_2021-05-27_a_las_11.30.44.png?v=2"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
